* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

header {
    background-color: rgb(5, 32, 41);
    padding: 0.25rem;
    position: fixed;
    width: 100%;
}
header a {
    color: antiquewhite;
    text-decoration: none;
}
header a:hover {
    color: rgba(250, 235, 215, 0.50);
    text-decoration: none;
    font-size: 1.05rem;
    
}
.head-logo{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    background-color: rgb(92, 0, 54);
    margin: 0.25rem;
}

.head-nav li, .foot-index li{
    display: inline;
    padding: 0.5rem;
}
.container{
    padding: 6rem 2.5rem 2rem;
    color: darkblue;
    background-color: lightblue;
}

hr {
  border: 1px solid rgb(3, 1, 90);
  margin: 0.5rem 0;
}

.post1 img {
    width: 50%;
}

.post3 img {
    width: 50%;
}

.about {
    
}

footer {
    background-color: lightslategray;
    text-align: center;
}


.foot-authors {
    color: lightblue;
    
}