* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

header {
    background-color: lightblue;
    padding: 0.25rem;
    
}
.head-logo{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    background-color: rgb(92, 0, 54);
    margin: 0.25rem;
}

.head-nav li, .foot-index li{
    display: inline;
    padding: 0.5rem;
}
.container{
    padding: 0.5rem;
}
main {
    color: darkblue;
    background-color: lightblue;
}

.post1 {
    color: rgb(15, 120, 129);
    background-color: rgb(196, 167, 179);
}

.post2 {
    color: rgb(0, 85, 43);
    background-color: lightgreen;
}

footer {
    background-color: lightslategray;
    text-align: center;
}


.foot-authors {
    color: lightblue;
    
}