* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(5, 32, 41);
    padding: 0.25rem;

}
header a {
    color: antiquewhite;
    text-decoration: none;
}
header a:hover {
    color: rgba(250, 235, 215, 0.50);
    text-decoration: none;
    font-size: 1.05rem;
    
}
.head-logo{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    background-color: rgb(92, 0, 54);
    margin: 0.25rem;
}

.head-nav li, .foot-index li{
    display: inline;
    padding: 0.5rem;
}

.admin-container{
    padding: 0.45rem;
    color: darkblue;
    background-color: lightblue;
}
.admin-container table {
    
    margin: 0 auto;
    text-align: center;

}
.admin-container table td{
    
    padding: 0 0.75rem;
    text-align: center;

}
.icon-col {
    width: 10%;
}

.admin-container table a{
    text-decoration: none;
}

.admin-container table a:hover{
    color: rgba(0, 0, 255, 0.25);
    font-size: 1.15rem;
}

footer {
    align-self: ;
    background-color: lightslategray;
    text-align: center;
}

.btn-login {
    color: lightblue;
    background-color: darkblue;
    padding: 0.15rem;
}